.type49-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #cab888;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type49-color .checkmark_box{
	background:#7a6536;
}

.type52-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #af8abf;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type52-color .checkmark_box{
	background:#986faa;
}

.type38-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #a8c090;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type38-color .checkmark_box{
	background:#577b37;
}

.type53-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #af8abf;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type53-color .checkmark_box{
	background:#986faa;
}
.type61-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #58c6bb;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type61-color .checkmark_box{
	background: #359c92;
}

.type62-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FE7356;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type62-color .checkmark_box{
	background: #FF5733;
}
.type63-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FE7356;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type63-color .checkmark_box{
	background: #FF5733;
}

.type64-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #0362F4;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type64-color .checkmark_box{
	background: #03B2F4;
}

.type65-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #0362F4;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type65-color .checkmark_box{
	background: #03B2F4;
}

.type66-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F76C01;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type66-color .checkmark_box{
	background: #B45309;
}

.type67-color{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F76C01;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type67-color .checkmark_box{
	background: #B45309;
}


.type69-color .checkmark_box{
	background: #359c92;
}

.type69-color {
    background-attachment: scroll;
    background-clip: border-box;
    background-color:#58c6bb;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type39-color {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #c4a39e;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.type39-color .checkmark_box{background:#9e7d78}

.type72-color .checkmark_box{
	background: #cc6697;
}

.type72-color {
    background-attachment: scroll;
    background-clip: border-box;
    background-color:#bf4080;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type73-color .checkmark_box{
	background: #59e9da;
}

.type73-color {
    background-attachment: scroll;
    background-clip: border-box;
    background-color:#14a2e4;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}

.type67-color {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F76C01;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}